<div class="main-main-main">
    <div class="main-main-main-header">
        <div class="card">
            <div class="card-top">
                <button class="btn btn-secondary-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 2a9.936 9.936 0 0 0-7.071 2.929C3.04 6.818 2 9.33 2 12s1.04 5.182 2.929 7.071C6.818 20.96 9.33 22 12 22s5.182-1.04 7.071-2.929C20.96 17.182 22 14.67 22 12s-1.04-5.182-2.929-7.071A9.936 9.936 0 0 0 12 2zm5.657 15.657C16.146 19.168 14.137 20 12 20s-4.146-.832-5.657-2.343C4.832 16.146 4 14.137 4 12s.832-4.146 2.343-5.657A7.927 7.927 0 0 1 11 4.069V12a1 1 0 0 0 1 1h7.931a7.927 7.927 0 0 1-2.274 4.657zM13 11V4.062a7.945 7.945 0 0 1 4.657 2.281A7.934 7.934 0 0 1 19.938 11H13z">
                        </path>
                    </svg> </button>

                <div class="card-top-value">
                    <p class="value"><%= allProductsCount %> Prodcuts Available</p>
                    <p class="value value-warn"><%= lowCount %> On Low</p>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 10.414 4 4 5.707-5.707L22 11V5h-6l2.293 2.293L14 11.586l-4-4-7.707 7.707 1.414 1.414z"></path></svg> -->

                </div>
            </div>
            <div class="card-bottom">
                <p class="card-bottom-header">
                    Damaged Prodcuts
                </p>
                <h1 class="card-bottom-value">
                   <%= damagedCount %>
                </h1>
            </div>
        </div>

    </div>
    <div class="main-main-main-center">
        <div class="main-center-btns">
            <!-- <button class="btn btn-secondary center-nav-btn">Recently Added Products</button>
            <button class="btn btn-secondary">All Products</button> -->
            <p class="btn btn-svg active-asi-btn width-100">Damaged Prodcuts</p>
        </div>

        <table>
            <thead>
                <tr class="row top-row">
                    <th class="row-part">ID</th>
                    <th class="row-part">Name</th>
                    <th class="row-part">Category</th>
                    <th class="row-part">Price</th>
                    <th class="row-part">Quantity</th>
                    <th class="row-part">Expiry Date</th>
                    <th class="row-part flex-justalign-center">Remove From Damaged</th>
                    <th class="row-part flex-justalign-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(const product of damagedProducts){ %>
                    <% if (product.D_Quantity !== 0){  %>
                <tr class="row top-row">
                    <td class="row-part"><%= product.DamageID %></td>
                    <td class="row-part"><%= product.Name %></td>
                    <td class="row-part"><%= product.C_NAME %></td>
                    <td class="row-part"><%= product.Price %>$</td>
                    <td class="row-part"><%= product.D_Quantity %></td>
                    <td class="row-part"><%= moment(product.ExpiryDate).format('DD-MM-YYYY') %></td>
                    <td class="row-part flex-justalign-center">
                        <button data-prod="<%= product.ProductID %>" id="removeFromDamagedBtn" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="m10.998 16 5-4-5-4v3h-9v2h9z"></path>
                                <path
                                    d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95-3.08 2.051-4.95 2.051-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z">
                                </path>
                            </svg>
                        </button>
                    </td>
                    <td class="row-part flex-justalign-center">
                        <button data-prod="<%= product.ProductID %>" id="deleteProductBtn" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                                </path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>

        </table>
    </div>