<div class="main-main-header">
    <div class="main-main-header-left">
        <h2>Stock Summary</h2>
    </div>
    <div class="main-main-header-right">
        <button class="btn btn-secondary btn-svg"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <path
                    d="M20 12a2 2 0 0 0-.703.133l-2.398-1.963c.059-.214.101-.436.101-.67C17 8.114 15.886 7 14.5 7S12 8.114 12 9.5c0 .396.1.765.262 1.097l-2.909 3.438A2.06 2.06 0 0 0 9 14c-.179 0-.348.03-.512.074l-2.563-2.563C5.97 11.348 6 11.179 6 11c0-1.108-.892-2-2-2s-2 .892-2 2 .892 2 2 2c.179 0 .348-.03.512-.074l2.563 2.563A1.906 1.906 0 0 0 7 16c0 1.108.892 2 2 2s2-.892 2-2c0-.237-.048-.46-.123-.671l2.913-3.442c.227.066.462.113.71.113a2.48 2.48 0 0 0 1.133-.281l2.399 1.963A2.077 2.077 0 0 0 18 14c0 1.108.892 2 2 2s2-.892 2-2-.892-2-2-2z">
                </path>
            </svg>
        </button>
    </div>
</div>
<div class="main-main-main">
    <div class="main-main-main-header">
        <div class="card">
            <div class="card-top">
                <button class="btn btn-secondary-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13 6h2v11h-2zm4-3h2v14h-2zM9 9h2v8H9zM4 19h16v2H4zm1-7h2v5H5z"></path>
                    </svg>
                </button>

                <div class="card-top-value">
                   <% if(damagedCount){%>
                    <p class="value value-warn"><%= damagedCount %> Items Damaged</p>
                   <% } %>
                   
                   <% if(expiredCount){%>
                    <p class="value value-danger"><%= expiredCount %> Items Expired</p>
                   <% } %>
                   <% if(lowCount){%>
                    <p class="value value-warn"><%= lowCount %> Products On Low</p>
                   <% } %>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 10.414 4 4 5.707-5.707L22 11V5h-6l2.293 2.293L14 11.586l-4-4-7.707 7.707 1.414 1.414z"></path></svg> -->

                </div>
            </div>
            <div class="card-bottom">
                <p class="card-bottom-header">
                    Total Available Products
                </p>
                <h1 class="card-bottom-value">
                    <%= allProductsCount %>
                </h1>
            </div>
        </div>

    </div>
    <div class="main-main-main-center">
        <div class="main-center-btns">
            <button class="btn btn-secondary center-nav-btn">Recently Added Products</button>
            <button class="btn btn-secondary">All Products</button>
        </div>
        <table>
            <thead>
                <tr class="row top-row">
                    <th class="row-part">ID</th>
                    <th class="row-part">Name</th>
                    <th class="row-part">Category</th>
                    <th class="row-part">Price</th>
                    <th class="row-part">Quantity</th>
                    <th class="row-part">Status</th>
                    <th class="row-part">Expiry Date</th>
                    <th class="row-part flex-justalign-center">Add To Damaged</th>
                    <th class="row-part flex-justalign-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(const product of allProducts) { %>
                <tr class="row top-row">
                    <td class="row-part"><%= product.ProductID   %></td>
                    <td class="row-part"><%= product.Name %></td>
                    <td class="row-part"><%= product.C_NAME %></td>
                    <td class="row-part"><%= product.Price %>$</td>
                    <td class="row-part"><%= product.Quantity %></td>
                    <td class="row-part">
                        <%  if(moment(product.ExpiryDate).isBefore(moment(),'day')){ %>
                            <p class="value value-danger no-border">Low Stock</p>
                        <% }else if(product.Quantity < 50){%>
                            <p class="value value-warn no-border">Low Stock</p>
                        <%  }else{ %>
                                <p class="value no-border">Available</p>
                        <% } %>
                    </td>
                    <td class="row-part"><%= moment(product.ExpiryDate).format('YYYY/MM/DD') %></td>
                    <td class="row-part flex-justalign-center">
                        <button data-prod="<%= product.ProductID %>" id="addToDamagedBtn" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="m21.706 5.291-2.999-2.998A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.291A.994.994 0 0 0 2 5.999V19c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5.999a.994.994 0 0 0-.294-.708zM6.414 4h11.172l.999.999H5.415L6.414 4zM4 19V6.999h16L20.002 19H4z">
                                </path>
                                <path d="M15 12H9v-2H7v4h10v-4h-2z"></path>
                            </svg>
                        </button>
                    </td>
                    <td class="row-part flex-justalign-center">
                        <button data-prod="<%= product.ProductID %>" id="deleteProductBtn" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                                </path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <% } %>
            </tbody>

        </table>
    </div>

    <button id="newStockBtn" class="btn create-btn float-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
        </svg>
        New Stock
    </button>