<% for (const notification of notifications) { %>
    <div class="card notification-card">
        <form id="notificationDeleteForm" method="post" action="/notifications/<%= notification.NotificationID %>?_method=DELETE" class="card-top">
            <button id="deleteNotificationBtn" data-id="<%= notification.NotificationID %>" class="btn btn-secondary-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                    <path
                        d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                    </path>
                </svg>
            </button>
            <div class="card-top-value">
                <p class="value">
                    <%= moment(notification.DateGenerated).format("MMMM Do YYYY, h:mm:ss a"); %>
                </p>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 10.414 4 4 5.707-5.707L22 11V5h-6l2.293 2.293L14 11.586l-4-4-7.707 7.707 1.414 1.414z"></path></svg> -->
            </div>
        </form>
        <div class="card-bottom">
            <p class="card-bottom-header">
                <%= notification.Title %>
            </p>
            <h1 class="card-bottom-value">
                <%= notification.Description %>
            </h1>
        </div>
    </div>
    <% } %>