<h2 class="mt-1 p-1">Searched Products</h2>
<table>
    <thead>
        <tr class="row top-row">
            <th class="row-part">ID</th>
            <th class="row-part">Name</th>
            <th class="row-part">Category</th>
            <th class="row-part">Price</th>
            <th class="row-part">Quantity</th>
            <th class="row-part">Status</th>
            <th class="row-part">Expiry Date</th>
            <th class="row-part flex-justalign-center">Add To Damaged</th>
            <th class="row-part flex-justalign-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(const product of products) { %>
        <tr class="row top-row">
            <td class="row-part"><%= product.ProductID   %></td>
            <td class="row-part"><%= product.Name %></td>
            <!-- <td class="row-part"><%= product.C_NAME %></td> -->
            <td class="row-part"><%= product.Price %>$</td>
            <td class="row-part"><%= product.Quantity %></td>
            <td class="row-part">
                <%  if(moment(product.ExpiryDate).isBefore(moment(),'day')){ %>
                    <p class="value value-danger no-border">Low Stock</p>
                <% }else if(product.Quantity < 50){%>
                    <p class="value value-warn no-border">Low Stock</p>
                <%  }else{ %>
                        <p class="value no-border">Available</p>
                <% } %>
            </td>
            <td class="row-part"><%= moment(product.ExpiryDate).format('YYYY/MM/DD') %></td>
            <td class="row-part flex-justalign-center">
                <button data-prod="<%= product.ProductID %>" id="addToDamagedBtn" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="m21.706 5.291-2.999-2.998A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.291A.994.994 0 0 0 2 5.999V19c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5.999a.994.994 0 0 0-.294-.708zM6.414 4h11.172l.999.999H5.415L6.414 4zM4 19V6.999h16L20.002 19H4z">
                        </path>
                        <path d="M15 12H9v-2H7v4h10v-4h-2z"></path>
                    </svg>
                </button>
            </td>
            <td class="row-part flex-justalign-center">
                <button data-prod="<%= product.ProductID %>" id="deleteProductBtn" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                        </path>
                    </svg>
                </button>
            </td>
        </tr>
        <% } %>
    </tbody>

</table>